RewriteEngine on
RewriteRule ^index                     index.html [NC,L]
RewriteRule ^about                     about.html [NC,L]
RewriteRule ^skill                     skill.html [NC,L]
RewriteRule ^education                 education.html [NC,L]
RewriteRule ^contact                 contact.html [NC,L]
RewriteRule ^experience             experience.html [NC,L]